<h1>Home Page Open <a href="/list">List</a></h1>

<h1>GitHub Dekstop</h1>

<h1>Aata hoil jenkins la connect</h1>

<h1>Zhale ka Error Solve</h1>

<h1>Jenkin Connect Zhale Mazhe Successfully</h1>

<form action="/sumitForm" method="post">
    Enter Name
    <input type="text" name="name" id=""><br><br>

    Enter Phone Number
    <input type="text" name="phone" id=""><br><br>

    Enter Email
    <input type="text" name="email" id=""><br><br>

    <button>Submit Form</button>
</form>
